body {
    background-color: black;
    color:white;
}

@font-face {
    font-family: 'heroquest';
    src: url('img/HeroQuest.ttf');
}

#modal {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.1);
}

#modalmessage {
    position:fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    background: rgba(0,0,0,0.8);
    text-align: center;
    padding-top: 5px;
    font-family: "heroquest";
    font-size: 25px;
}

a {
    font-family: heroquest;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:active {
    color: white;
}

a:hover {
    color: white;
}

#logo {
    position:absolute;
    top: 0px;
    left: 950px;
}

#title {
    font-family: 'heroquest';
    position:absolute;
    top: 0px;
    left: 0px;
    width: 933px;
    height: 50px;
    color: black;
    text-align: center;
    font-size: 28px;
}

#wandering {
    font-family: 'heroquest';
    position:absolute;
    top: 675px;
    left: 0px;
    width: 933px;
    height: 50px;
    color: black;
    text-align: center;
    font-size: 20px;
}

#log {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    position:absolute;
    top: 220px;
    left: 950px;
    width: 300px;
    height: 480px;
    background: url(img/scroll-background.png);
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#loginner {
    position:absolute;
    top: 45px;
    left: 20px;
    width: 235px;
    height: 385px;
    overflow-y: scroll;
    padding-left: 5px;
    padding-right: 5px;
}

.logentry {
    color: black;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 3px;
    margin-top: 5px;
    padding-bottom: 5px;
}

#board {
    position: absolute;
    left: 5px;
    top: 5px;
    background: white url(img/Board_US.png);
    width: 933px;
    height: 700px;
}

.cell {
    position: absolute;
}

@media only screen and (max-width: 1100px) {
    body {
        zoom: 0.8;
    }
}